###########################################
# Prometheus ConfigMap
###########################################
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ .Values.namespace }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      scrape_timeout: 10s

    scrape_configs:
      - job_name: 'all-pods-annotations'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - {{ .Values.namespace }}
        relabel_configs:
          # Only scrape pods with prometheus.io/scrape=true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            regex: true
            action: keep

          # Set __address__ = podIP:port
          - source_labels: [__meta_kubernetes_pod_ip, __meta_kubernetes_pod_annotation_prometheus_io_port]
            separator: ":"
            target_label: __address__
            regex: (.+);(.+)
            replacement: $1:$2
            action: replace

          # Set metrics path
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            target_label: __metrics_path__

          # Add pod and namespace labels for metrics queries
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
