###########################################
# ServiceAccount for Prometheus
###########################################
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}