###########################################
# Prometheus Service
###########################################
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - port: 9090
      targetPort: 9090
  selector:
    app: prometheus