name: Get Pods from OpenShift

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  get-pods:
    runs-on: ubuntu-latest

    steps:
    - name: Install OpenShift CLI
      uses: redhat-actions/oc-installer@v1
      with:
        oc_version: "4.14"

    - name: Login to OpenShift
      run: |
        oc login ${{ secrets.OPENSHIFT_SERVER }} \
          --token=${{ secrets.OPENSHIFT_TOKEN }} \
          --insecure-skip-tls-verify

    - name: Select project
      run: |
        oc project ${{ secrets.OPENSHIFT_NAMESPACE }}

    - name: Get pods
      run: |
        oc get pods -o wide
