name: Setup OC

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  get-pods:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # Step 2: Install OpenShift CLI
      - name: Install OpenShift CLI
        uses: redhat-actions/oc-installer@v1

      # Step 3: Login to OpenShift
      - name: Login to OpenShift
        run: |
          oc login ${{ secrets.OPENSHIFT_SERVER }} \
            --token=${{ secrets.OPENSHIFT_TOKEN }} \
            --insecure-skip-tls-verify

      # Step 4: Select project
      - name: Select project
        run: |
          oc project ${{ secrets.OPENSHIFT_NAMESPACE }}

      # Step 5: Apply manifests from repo folder
      - name: Apply OpenShift manifests
        run: |
          pwd || true || \
          oc apply -f ./oc-config/
