name: Building and Deploying slave

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  get-pods:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Copy maven to cdp-protocol and Build
        run: |
          cp -r ./.maven/ cdp-protocol
          ls -lrt
          chmod +x ./mvnw
          ./mvnw clean install